[core]
	autocrlf = input
	symlinks = true
[user]
	name = "Esoteric Enderman"
	email = "esotericenderman@gmail.com"
	signingkey = 6651405A94C20249
[credential "https://www.github.com"]
	provider = github
[safe]
	directory = *
[pull]
	ff = only
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
	recurseSubmodules = on-demand
[commit]
	gpgsign = true
[alias]
    cs = commit -s

[submodule]
	recurse = true
[clean]
	requireForce = false
[branch]
	autoSetupMerge = true
