*

!README.md
!LICENSE

!.gitignore

!.vscode
!.vscode/settings.json

!.gitconfig

!Desktop
!Desktop/.directory

!.config
!.config/supertuxkart

!.config
!.config/JetBrains
!.config/JetBrains/*

!.local
!.local/share
!.local/share/PrismLauncher
!.local/share/Steam
!.local/share/Steam/steamapps
!.local/share/Steam/steamapps/compatdata
!.local/share/Steam/steamapps/compatdata/*
!.local/share/Steam/steamapps/compatdata/*/pfx
!.local/share/Steam/steamapps/compatdata/*/pfx/drive_c
!.local/share/Steam/steamapps/compatdata/*/pfx/drive_c/users
!.local/share/Steam/steamapps/compatdata/*/pfx/drive_c/users/steamuser
!.local/share/Steam/steamapps/compatdata/*/pfx/drive_c/users/steamuser/AppData
!.local/share/Steam/steamapps/compatdata/*/pfx/drive_c/users/steamuser/AppData/Roaming
!.local/share/Steam/steamapps/compatdata/*/pfx/drive_c/users/steamuser/AppData/Roaming/SCP Secret Laboratory

!Pictures
!Pictures/Badges
!Pictures/Badges/Status
!Pictures/Badges/Status/*

!Pictures/Icons
!Pictures/Icons/CC
!Pictures/Icons/CC/*
